
{% extends 'register/base.html' %}
{% load static %}

{% block container %}
<link rel="stylesheet" href=" {% static 'register/detail.css' %}  " />
<section class="html">
<nav class="body">
    <a href="{% url 'update' student.id %}"><button class="updateButton">Update</button></a>
  <div class="card__flip" ontouchstart="this.classList.toggle('hover');">
  <div class="card__container">
    <div class="card card--front">
      <img src="{{ student.image.url }}" alt="">
      <h1>{{student.full_name}}</h1>
      <h2>{{student.path}} </h2>
      <p>{{ student.gender }}</p>
      <div class="flip"><span>IT</span></div>
    </div>
    <div class="card card--back">
     <dl>
        <dt>Student Number</dt>
        <dd>{{ student.student_number }}</dd>
        <br>
        <dt>Phone Number</dt>
        <dd>{{student.phone_number}} 😎</dd>
        <br>
        <dt>Student Mail :</dt>
        <dd>{{ student.mail }} </dd>
      </dl>
    </div> 
  </div>
</div>



    <a href="{% url 'delete' student.id %}"><button class="deleteButton">Delete</button></a>

</nav>
</section>

{% endblock container %}