form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #f7f7f7;
  }
  form h1 {
    background: #9385D3;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
  }
  form input[type="text"],
  form input[type="date"],
  form input[type="datetime"],
  form input[type="email"],
  form input[type="number"],
  form input[type="search"],
  form input[type="time"],
  form input[type="url"],
  #id_phone_number,
  form textarea,
  form select {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
  }
  form input[type="text"]:focus,
  form input[type="date"]:focus,
  form input[type="datetime"]:focus,
  form input[type="email"]:focus,
  form input[type="number"]:focus,
  form input[type="search"]:focus,
  form input[type="time"]:focus,
  form input[type="url"]:focus,
  #id_phone_number:focus,
  form textarea:focus,
  form select:focus {
    box-shadow: 0 0 5px #7e43d1;
    padding: 3%;
    border: 1px solid #c843d1;
  }

  form input[type="submit"],
  form input[type="button"],
  .noButton {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #9457ea;
    border-bottom: 2px solid #6528ba;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
  }
  form input[type="submit"]:hover,
  form input[type="button"]:hover,
  .noButton:hover {
    background: #8e58da;
    cursor: pointer;
  }

  /* LIST STUDENT  */

  .listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* width: 10rem; */
  }

  ol {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    min-width: 40rem;
  }

  ol li{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }
  
  ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }
  
  ol a:hover { background: #E9E4E0; }
  ol a:hover:before { transform: rotate(360deg); }
  ol a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #f9dd94;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }

  /* NAVBAR */

  .navColor{
    background-color: #382e64;
    color: wheat;
    border: none;
    position: sticky;
    top: 0%;
  }
  .navColor a{
    color: white;
  }

  .navColor a:hover{
    color: #0b504f;
  }

  .spanColor{
    background-color: white;
  }
 
  